@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, 100%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.bg-border-borderOpaque {
  background-color: #E8E8E8;
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 100%) scale(0.9);
  }
}

.dialog-content {
 & input:-webkit-autofill,
 & input:-webkit-autofill:hover,
 & input:-webkit-autofill:focus,
 & input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #000 !important;
  
   transition: background-color 5000s ease-in-out 0s;
}
}

.dialog-content[data-state='open'] {
  animation: contentShow 0.25s forwards;
}

.dialog-content[data-state='closed'] {
  animation: contentHide 0.25s forwards;
}
